* {
	font-family: "Garamond", serif;
}

html {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: "Garamond", serif;
	padding: 0;
	margin: 0;
}

.fadein {
	-webkit-animation: fadein 4s;
	animation: fadein 4s;
}

.fadein-delay {
	-webkit-animation: 4s;
	animation: fadein 4s;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadein-delay {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.cover {
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,1);
	background: url('./assets/concert/polaroid_bw.jpg');
	background-size: cover;
}

.program {
	background-color: rgba(0,0,0,1);
	padding: 30px;
}

.section {
	padding: 10px 20px;
}

.caption {
	font-family: sans-serif;
	width: 100%;
	font-size: 0.8em;
	text-align: center;
	margin-top: 15px;
	padding: 5px;
	box-sizing: border-box;
}

.img {
	width: 100%;
}

p {
	font-size: 1em;
	line-height: 2em;
}

.subtitle {
	font-family: sans-serif;
}

.quote {
	/*background-color: rgba(0,0,0,0.1);*/
	font-size: 1.2em;
	padding: 8%;
	color: rgba(0,0,0,0.5);
}

.divider {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.dividerdot {
	margin: 0 5px;
}